<div class="reveal__{{_.id}} banner-js modal modal--large" id="{{_.id}}" data-reveal data-timer="{{modalTimer.value}}">
    <div class="modal-header">
        <h3 class="modal-header-title">Header</h3>
        <button class="modal-close" type="button" data-reveal-close="" >
            <span aria-hidden="true">&#215;</span>
        </button>
    </div>
    <div class="model-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>

<style>
    .reveal__{{_.id}} {
        display: none;

        .model-body {
            padding: 40px 20px;
        }
    }
</style>


